@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto+Mono:wght@700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding:0;
    background-color: white;
}

p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 17px;
}

h1, h2, h3{
    font-family: 'Roboto Mono', sans-serif;
}
h4{
    font-family: 'Poppins';
    font-weight: 500;
}


main {
    padding: 20px 20px 50px 20px; 
    background-color: white;
    width: 100%;
    min-height:  calc(100vh - (1rem + 20px) - (40px + 2rem));
    box-sizing: border-box;  
}

/* Sections with text + images --------------------------------------------------------------------*/
.content-section {
    display: flex;
    align-items: center;
    margin: 40px 0;
    gap: 30px;
    flex-wrap: wrap; /* makes it responsive */
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
}

.content-section .text {
    flex: 1;
    min-width: 250px;
}

.content-section .image {
    flex: 1;
    min-width: 250px;
    text-align: center;

}

.content-section .image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* Section headings */
.content-section h3 {
    margin-top: 0;
}
.content-section:nth-child(odd) {
    flex-direction: row-reverse;
}


/* Download Button--------------------------------*/
.download-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #64d8f3;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

.download-btn:hover {
    background-color: #97e3f4;
    transform: translateY(-2px);
}

.button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


/*Contact Icons ---------------------------------*/
.cont-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cont-item img {
    width: 30px;
    height: 30px;
}

.cont-item a {
    color: black;
    text-decoration: none;
}

.cont-item a:hover {
    text-decoration: underline;
}

.cont-item img {
    transition: transform 0.2s ease;
}

.cont-item img:hover {
    transform: scale(1.2);
}

/* Title For all pages ------------------------------ */
.titleblock{
    padding: 30px 30px 0px 40px;
    background-color: white;
}

.titleblock h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.titleblock p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
    max-width: 700px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}